In [28]:
import requests
from requests.auth import HTTPDigestAuth
import json

payload = {'username':'Ohassank@gmail.com','password':'nintendo','cookie':
          '_ga=GA1.2.1394298410.1498660765; _gid=GA1.2.751973703.1506526277; _gat=1; _ga=GA1.3.1394298410.1498660765; _gid=GA1.3.751973703.1506526277; _dc_gtm_UA-33785302-1=1; pl_profile="eyJzIjogIld6SXNNakl4TmpNM05UUmQ6MWR5OXFGOkpwc3JKT3hqOG15dUNtNk8zbEhHU3hNd0RGTSIsICJ1IjogeyJsbiI6ICJPdWRhIiwgImZjIjogMywgImlkIjogMjIxNjM3NTQsICJmbiI6ICJIYXNzYW4ifX0="; csrftoken=aq3jX3l6IZHn5fNgbpuv6SDxI1a23EjW; sessionid=".eJyrVkpPzE2NT85PSVWyUirISSvIUdJRik8sLcmILy1OLYpPSkzOTs1LAUsmVqYW6UEFivUCwHwnqDyKpkyg-mhDHSMjQzNjc1OT2FoAeGgjog:1dy9qF:Hm3RQpvXc4YDVtH2ZNVsiq-YsZo"'}
session = requests.Session()
session.post('https://users.premierleague.com/accounts/login/',auth=('Ohassank@gmail.com', 'nintendo'), verify=True) 
picks = session.get('https://fantasy.premierleague.com/drf/my-team/70671/',headers=payload).json()
with open('team_details.json','w') as outfile:
    json.dump(picks,outfile)

In [31]:
from pandas.io.json import json_normalize
with open('team_details.json') as json_data:
    d = json.load(json_data)
picks = json_normalize(d, 'picks')
picks

,can_captain,can_sub,element,has_played,is_captain,is_sub,is_vice_captain,multiplier,position,selling_price
0,True,True,350,False,False,False,False,1,1,45
1,True,True,264,False,False,False,False,1,2,51
2,True,True,424,False,False,False,False,1,3,50
3,True,True,223,False,False,False,False,1,4,44
4,True,True,497,False,False,False,False,1,5,55
5,True,True,414,False,False,False,False,1,6,52
6,True,True,388,False,False,False,False,1,7,95
7,True,True,248,False,False,False,False,1,8,83
8,True,True,472,False,False,False,False,1,9,102
9,True,True,394,False,True,False,False,2,10,125
10,True,True,285,False,False,False,True,1,11,116
11,True,True,286,False,False,True,False,1,12,40
12,True,True,367,False,False,True,False,1,13,45
13,True,True,242,False,False,True,False,1,14,55
14,True,True,293,False,False,True,False,1,15,40